{% extends 'base.html.twig' %}

{% block title %} {{parent() }} | Ajouter une nouvelle structure {% endblock %}

{% block header %}{% endblock %}
{% block topbar %}{% endblock %}
{% block searchBar %}{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col col-xl-8">

            <h1 class="my-4">Ajouter une nouvelle structure</h1>

            {{ form_start(form) }}

                <div class="form-error is-invalid">
                    {{ form_errors(form) }}
                </div>

                <div class="form-group">
                {{ form_row(form.roles)}}
                </div>

                <div class="form-group">
                    {{ form_label(form.name)}}
                    {{ form_widget(form.name)}}
                    {{ form_errors(form.name)}}
                </div>

                <div class="form-group">
                    {{ form_label(form.postalAdress)}}
                    {{ form_widget(form.postalAdress)}}
                    {{ form_errors(form.postalAdress)}}
                </div>

                <div class="form-group">
                    {{ form_label(form.email)}}
                    {{ form_widget(form.email)}}
                    {{ form_errors(form.email)}}
                </div>

                <div class="form-group">
                    {{ form_label(form.password)}}
                    {{ form_widget(form.password)}}
                    {{ form_errors(form.password)}}
                </div>

                <div class="form-group">
                    {{ form_label(form.id)}}
                    {{ form_widget(form.id)}}
                    {{ form_errors(form.id)}}
                </div>

                <div class="form-group">
                <p class="m-0">Actif</p>
                    {{ form_label(form.isActive)}}
                    {{ form_widget(form.isActive)}}
                    {{ form_errors(form.isActive)}}
                </div>

                {# <div class="container-fluid h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col col-xl-10">
                            <div class="card" style="border-radius: 1rem;">
                                <div class="col d-flex align-items-center">
                                    <div class="card-body text-black text-center">
                                        <div class="d-flex align-items-center justify-content-center mb-3 pb-1 fs-3 ">
                                            <h4>Fonctionnalités activées</h4>
                                        </div>
                                        <div class="toggle-permissions text-center my-5">
                                            <div class="toggle-permissions-wrapper d-flex justify-content-around my-4 flex-wrap">
                                                <div class="row">
                                                    <div class="col permission newsletter">
                                                        <div class="form-group">
                                                        <i class="fa-solid fa-calendar-days"></i>
                                                        <p class="m-0">Planning</p>
                                                            {{ form_widget(form.isPlanning)}}
                                                            {{ form_errors(form.isPlanning)}}
                                                            
                                                        </div>                                                
                                                    </div>

                                                    <div class="col permission newsletter">
                                                        <div class="form-group">
                                                        <i class="fa-solid fa-envelope"></i>
                                                        <p class="m-0">Newsletter</p>
                                                            {{ form_label(form.isNewsletter)}}
                                                            {{ form_widget(form.isNewsletter)}}
                                                            {{ form_errors(form.isNewsletter)}}
                                                        </div>                                         
                                                    </div>

                                                    <div class="col permission newsletter">
                                                        <div class="form-group">
                                                        <i class="fas fa-cocktail"></i>
                                                        <p class="m-0">Boissons</p>
                                                            {{ form_label(form.isBoissons)}}
                                                            {{ form_widget(form.isBoissons)}}
                                                            {{ form_errors(form.isBoissons)}}
                                                        </div>
                                                    </div>

                                                    <div class="col permission newsletter">
                                                        <div class="form-group">
                                                        <i class="fa-solid fa-comment-sms"></i>
                                                        <p class="m-0">SMS</p>
                                                            {{ form_label(form.isSms)}}
                                                            {{ form_widget(form.isSms)}}
                                                            {{ form_errors(form.isSms)}}
                                                        </div>
                                                    </div>

                                                    <div class="col permission newsletter">
                                                        <div class="form-group">
                                                        <i class="fa-solid fa-trophy"></i>
                                                        <p class="m-0">Concours</p>
                                                            {{ form_label(form.isConcours)}}
                                                            {{ form_widget(form.isConcours)}}
                                                            {{ form_errors(form.isConcours)}}
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> #}
                

                <a href="{{ path('app_structure_index') }}" class="btn btn-secondary my-4 me-3" value="Retour">Annuler</a>
                <button type="submit" class="btn btn-primary my-4" value="Enregistrer" onclick="return confirm('Êtes-vous sûr de vouloir créer ce nouvel utilisateur ?')">Confirmer</button>

                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}