{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Dashboard {% endblock %}

{% block header %}{% endblock %}
{% block topbar %}{% endblock %}

{% block content %}
        <div class="container-fluid home-title">
            {% if is_granted('ROLE_ADMIN') %}
            <h1 class="my-4">Dashboard</h1>
            {% else %}
            <h1 class="my-4">Mon profil</h1>
            {% endif %}
            {% if is_granted('ROLE_USER') %}
            <h5>Bienvenue {{ app.user.name }}.</h>
            <h6>Vous êtes dans l'administration de "STUDI FITNESS GROUP".</h6>
            <p>Votre adresse mail est {{ app.user.email }}, tu possèdes l'ID {{ app.user.id }} et ton compte est {% if app.user.isActive == 1 %} Actif {% else %}
                Inactif {% endif %}
            </p>
            {% else %}
                <p>Vous êtes deconnecté. <a href="{{ path('app_login') }}">Cliquez ici pour vous authentifier</a>
            {% endif %}
        </div>
        Utilisateurs
        {{ dump(users) }}
        Partenaires
        {{ dump(partners) }}
        Structures
        {{ dump(structures) }}

        <div class="boxes container-fluid">
            <div class="box">
                <i class="fa fa-users"></i>
                <div class="box-data">
                    <h3>{{ users|length - 1 }}</h3>
                    {# On enlève l'admin en faisant -1 #}
                    Nombre d'utilisateurs
                </div>
            </div>

            <div class="box">
                <i class="fa fa-handshake"></i>
                <div class="box-data">
                    <h3>{{ partners|length }}</h3>
                    Nombre de Partenaires
                </div>
            </div>

            <div class="box">
                <i class="fa fa-building"></i>
                <div class="box-data">
                    <h3>{{ structures|length }}</h3>
                    Nombre de Structures
                </div>
            </div>
            
        </div>

        {% if is_granted('ROLE_PARTNER') %}
        <div class="container-fluid py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                    <div class="card" style="border-radius: 1rem;">
                        <div class="col d-flex align-items-center">
                            <div class="card-body text-black text-center">
                                <div class="d-flex flex-column align-items-center justify-content-center mb-3 pb-1">
                                    <h4>Vos fonctionnalités activées</h4>
                                    <small><i>Pour modifier ces fonctionnalités, <a href="#">veuillez contacter un administrateur STUDI FITNESS</a></i></small>
                                </div>
                                <div class="toggle-permissions text-center my-5">
                                    <div class="toggle-permissions-wrapper d-flex justify-content-around my-4 flex-wrap">
                                        <div class="col permission planning">
                                            <i class="fa-solid fa-calendar-days"></i>
                                            <h6 class="permission-title">Planning</h6>
                                            <label class="switch">
                                                <input type="checkbox" {% if app.user.partner.isPlanning == 1 %} checked {% endif %} disabled>
                                                <span class="slider round"></span>
                                            </label>
                                        </div>

                                        <div class="col permission newsletter">
                                            <i class="fa-solid fa-envelope"></i>
                                            <h6 class="permission-title">Newsletter</h6>
                                            <label class="switch">
                                                <input type="checkbox" {% if app.user.partner.isNewsletter == 1 %} checked {% endif %} disabled>
                                                <span class="slider round"></span>
                                            </label>
                                        </div>

                                        <div class="col permission boissons">
                                            <i class="fas fa-cocktail"></i>
                                            <h6 class="permission-title">Boissons</h6>
                                            <label class="switch">
                                                <input type="checkbox" {% if app.user.partner.isBoissons == 1 %} checked {% endif %} disabled>
                                                <span class="slider round"></span>
                                            </label>
                                        </div>

                                        <div class="col permission sms">
                                            <i class="fa-solid fa-comment-sms"></i>
                                            <h6 class="permission-title">SMS</h6>
                                            <label class="switch">
                                                <input type="checkbox" {% if app.user.partner.isSMS == 1 %} checked {% endif %} disabled>
                                                <span class="slider round"></span>
                                            </label>
                                        </div>

                                        <div class="col permission concours">
                                            <i class="fa-solid fa-trophy"></i>
                                            <h6 class="permission-title">Concours</h6>
                                            <label class="switch">
                                                <input type="checkbox" {% if app.user.partner.isConcours == 1 %} checked {% endif %} disabled>
                                                <span class="slider round"></span>
                                            </label>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

       
        </div>

{% endblock %}
