{% extends 'base.html.twig' %}

{% block title %} {{parent() }} | Partenaires{% endblock %}

{% block header %}{% endblock %}
{% block topbar %}{% endblock %}
{% block searchBar %}{% endblock %}

{% block content %}

<div class="container-fluid index">

    {# Flash message "Correctement ajouté" #}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <button type="button" data-bs-dismiss="alert" class="btn-close" aria-label="Close"></button>
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" data-bs-dismiss="alert" class="btn-close" aria-label="Close"></button>
            {{ message }}
        </div>
    {% endfor %}

    <h1 class="my-4">Partenaires :</h1>

    <div class="responsive-table-line">

    <table class="table table-hover text-center">
        <thead>
            <tr class="">
                <th scope="col">ID</th>
                <th scope="col">Actif</th>
                <th scope="col">Nom</th>
                <th scope="col">Email</th>
                <th scope="col">Planning</th>
                <th scope="col">Newsletter</th>
                <th scope="col">Boissons</th>
                <th scope="col">Sms</th>
                <th scope="col">Concours</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for partner in partners %}

            {# {{ dump (partner)}} #}

                <tr class="">
                    <td data-title="ID :">{{ partner.id }}</td>
                    <td class="align-middle">
                        {% if partner.user.isActive == true %}
                            <div class="form-check form-check-active">Actif</div>
                            {% else %}
                            <div class="form-check form-check-inactive">Inactif</div>
                        {% endif %}
                    </td>
                    <td>
                        <div class="form-check form-check-partner">
                            {{ partner.name }}
                        </div>
                    </td>
                    <td data-title="Mail :">{{ partner.user.email }}</td>
                    <td data-title="Planning :" class="align-middle">
                        {% if partner.isPlanning == true %}
                            <div class="custom-control custom-switch">
                                <input type="checkbox" id="user_isPlanning" name="user[isPlanning]" class="custom-control-input" value="1" checked disabled>
                                <label class="switch-custom custom-control-label" for="user_isPlanning"></label>
                            </div>
                            {% else %}
                            <div class="custom-control custom-switch">
                                <input type="checkbox" id="user_isPlanning" name="user[isPlanning]" class="custom-control-input" value="0" disabled>
                                <label class="switch-custom custom-control-label" for="user_isPlanning"></label>
                            </div>
                        {% endif %}
                    </td>
                    <td data-title="Newsletter :" class="align-middle">
                        {% if partner.isNewsletter == true %}
                            <div class="custom-control custom-switch">
                                <input type="checkbox" id="user_isNewsletter" name="user[isNewsletter]" class="custom-control-input" value="1" checked disabled>
                                <label class="switch-custom custom-control-label" for="user_isNewsletter"></label>
                            </div>
                            {% else %}
                            <div class="custom-control custom-switch">
                                <input type="checkbox" id="user_isNewsletter" name="user[isNewsletter]" class="custom-control-input" value="0" disabled>
                                <label class="switch-custom custom-control-label" for="user_isNewsletter"></label>
                            </div>
                        {% endif %}
                    </td>
                    <td data-title="Boissons :" class="align-middle">
                        {% if partner.isBoissons == true %}
                            <div class="custom-control custom-switch">
                                <input type="checkbox" id="user_isBoissons" name="user[isBoissons]" class="custom-control-input" value="1" checked disabled>
                                <label class="switch-custom custom-control-label" for="user_isBoissons"></label>
                            </div>
                            {% else %}
                            <div class="custom-control custom-switch">
                                <input type="checkbox" id="user_isBoissons" name="user[isBoissons]" class="custom-control-input" value="0" disabled>
                                <label class="switch-custom custom-control-label" for="user_isBoissons"></label>
                            </div>
                        {% endif %}
                    </td>
                    <td data-title="SMS :" class="align-middle">
                        {% if partner.isSms == true %}
                            <div class="custom-control custom-switch">
                                <input type="checkbox" id="user_isSms" name="user[isSms]" class="custom-control-input" value="1" checked disabled>
                                <label class="switch-custom custom-control-label" for="user_isSms"></label>
                            </div>
                            {% else %}
                            <div class="custom-control custom-switch">
                                <input type="checkbox" id="user_isSms" name="user[isSms]" class="custom-control-input" value="0" disabled>
                                <label class="switch-custom custom-control-label" for="user_isSms"></label>
                            </div>
                        {% endif %}
                    </td>
                    <td data-title="Concours :" class="align-middle">
                        {% if partner.isConcours == true %}
                            <div class="custom-control custom-switch">
                                <input type="checkbox" id="user_isConcours" name="user[isConcours]" class="custom-control-input" value="1" checked disabled>
                                <label class="switch-custom custom-control-label" for="user_isConcours"></label>
                            </div>
                            {% else %}
                            <div class="custom-control custom-switch">
                                <input type="checkbox" id="user_isConcours" name="user[isConcours]" class="custom-control-input" value="0" disabled>
                                <label class="switch-custom custom-control-label" for="user_isConcours"></label>
                            </div>
                        {% endif %}
                    </td>
                  
                    {# <td class="align-middle">
                        <a class="crud-button link-primary fa fa-pen-square mx-2" aria-label="Editer" href="{{ pat('app_user_edit', {'id': user.id}) }}"></a>
                        <a class="crud-button link-success fa fa-eye mx-2" href="{{ path('app_user_show', {'id': user.id}) }}"></a>
                        <a class="crud-button link-danger fa fa-trash mx-2 confirm-action" href="{{ path('app_user_delete', {'id':user.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?')"></a>
                    </td> #}

                    <td class="align-middle">
                        <a class="crud-button link-primary fa fa-pen-square mx-2" aria-label="Editer" href="{{ path('app_partner_edit', {'id': partner.id}) }}"></a>
                        <a class="crud-button link-success fa fa-eye mx-2" href="{{ path('app_partner_show', {'id': partner.id}) }}"></a>
                        <a class="crud-button link-danger fa fa-trash mx-2 confirm-action" href="{{ path('app_partner_delete', {'id':partner.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?')"></a>
                    </td>
                </tr>
                
            {% endfor %}
            
        </tbody>
    
    </table>
    <a class="btn btn-primary" href="{{ path('app_partner_new') }}">Créer un nouveau partenaire </a>
    <sub>👈🏼 <b>Création d'un USER + PARTENAIRE (2 entités dans le même formulaire PartnerType) : OK</b> / 🚨 Mais impossible d'ÉDITER ("The form's view data is expected to be a "App\Entity\User", but it is a "App\Entity\Partner". You can avoid this error by setting the "data_class" option to null or by adding a view transformer that transforms "App\Entity\Partner" to an instance of "App\Entity\User"</sub>
</div> 
    

</div>

{% endblock %}