{% extends 'base.html.twig' %}

{% block title %}Modifier un Partenaire{% endblock %}

{% block content %}
<div class="container">
    
    <a class="back-button fa fa-arrow-circle-left" href="{{ path('app_partenaire_index') }}">Retour</a>

    <h1 class="my-4">Modifier un partenaire</h1>

    {{ form_start(form) }}
    <div class="form-error">
        {{ form_errors(form) }}
    </div>

    <div class="form-group">
        {{ form_label(form.name)}}
        {{ form_widget(form.name)}}
        {{ form_errors(form.name)}}
    </div>

    <div class="form-group">
        {{ form_label(form.email)}}
        {{ form_widget(form.email)}}
        {{ form_errors(form.email)}}
    </div>

    <div class="form-group">
        {{ form_label(form.password)}}
        {{ form_widget(form.password)}}
        {{ form_errors(form.password)}}
    </div>

    <div class="form-group">
        {{ form_label(form.isActive)}}
        {{ form_widget(form.isActive)}}
        {{ form_errors(form.isActive)}}
    </div>

    <div class="global-wrapper d-flex flex-column align-items-center">
        <h4>Fonctionnalités Globales</h4>
    
        <div class="global-functions">
            <div class="form-group form-functions">
                {{ form_label(form.Planning)}}
                {{ form_widget(form.Planning)}}
                {{ form_errors(form.Planning)}}
            </div>
            <div class="form-group form-functions">
                {{ form_label(form.Newsletter)}}
                {{ form_widget(form.Newsletter)}}
                {{ form_errors(form.Newsletter)}}
            </div>
            <div class="form-group form-functions">
                {{ form_label(form.Boissons)}}
                {{ form_widget(form.Boissons)}}
                {{ form_errors(form.Boissons)}}
            </div>
            <div class="form-group form-functions">
                {{ form_label(form.SMS)}}
                {{ form_widget(form.SMS)}}
                {{ form_errors(form.SMS)}}
            </div>
            <div class="form-group form-functions">
                {{ form_label(form.Promotions)}}
                {{ form_widget(form.Promotions)}}
                {{ form_errors(form.Promotions)}}
            </div>
            <div class="form-group form-functions">
                {{ form_label(form.Concours)}}
                {{ form_widget(form.Concours)}}
                {{ form_errors(form.Concours)}}
            </div>
        </div>
    </div>

    <div class="edit-validations d-flex">
        <a class="btn btn-danger mb-4 mx-3" href="{{ path('app_partenaire_delete', {'id': partenaire.id}) }}" onclick="return confirm('Voulez-vous vraiment supprimer cet ingrédient ?')">Supprimer le partenaire</a>
        {{ form_row(form.Submit, { 'label': 'Modifier le partenaire' }) }}
        {{ form_end(form) }}
    </div>

</div>
{% endblock %}
