{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau Partenaire{% endblock %}

{% block content %}
<div class="container">

    <h1 class="my-4">Créer un nouveau partenaire</h1>

    {{ form_start(form) }}
    <div class="form-error">
        {{ form_errors(form) }}
    </div>

    <div class="form-group">
        {{ form_label(form.name)}}
        {{ form_widget(form.name)}}
        {{ form_errors(form.name)}}
    </div>

    <div class="form-group">
        {{ form_label(form.email)}}
        {{ form_widget(form.email)}}
        {{ form_errors(form.email)}}
    </div>

    <div class="form-group">
        {{ form_label(form.password)}}
        {{ form_widget(form.password)}}
        {{ form_errors(form.password)}}
    </div>

    <div class="global-functions">
        <div class="form-group form-functions">
        {{ form_label(form.Planning)}}
        {{ form_widget(form.Planning)}}
        {{ form_errors(form.Planning)}}
        </div>

        <div class="form-group form-functions">
            {{ form_label(form.Newsletter)}}
            {{ form_widget(form.Newsletter)}}
            {{ form_errors(form.Newsletter)}}
        </div>

        <div class="form-group form-functions">
            {{ form_label(form.Boissons)}}
            {{ form_widget(form.Boissons)}}
            {{ form_errors(form.Boissons)}}
        </div>

        <div class="form-group form-functions">
            {{ form_label(form.SMS)}}
            {{ form_widget(form.SMS)}}
            {{ form_errors(form.SMS)}}
        </div>

        <div class="form-group form-functions">
            {{ form_label(form.Promotions)}}
            {{ form_widget(form.Promotions)}}
            {{ form_errors(form.Promotions)}}
        </div>

        <div class="form-group form-functions">
            {{ form_label(form.Concours)}}
            {{ form_widget(form.Concours)}}
            {{ form_errors(form.Concours)}}
        </div>
    </div>

    {{ form_row(form.Submit, { 'label': 'Créer un nouveau partenaire' }) }}
    {{ form_end(form) }}

</div>

    {# {{ form(form)}} #}
{% endblock %}
