{% for user in users %}
                    <tr class="select-none">
                        <td data-title="ID :">{{ user.id }}</td>
                        <td class="align-middle">
                            {% if user.isActive == true %}
                                    <div class="form-check form-check-active">Actif</div>
                                {% else %}
                                    <div class="form-check form-check-inactive">Inactif</div>
                                {% endif %}
                        </td>
                        {% for role in user.roles %}
                            {% if role == 'ROLE_ADMIN' %}
                                <td>
                                    <div class="form-check form-check-admin">Admin</div>
                                </td>
                                {% elseif role == 'ROLE_PARTENAIRE' %}
                                <td>
                                    <div class="form-check form-check-partner">Partenaire</div>
                                </td>
                                {% elseif role == 'ROLE_STRUCTURE' %}
                                <td>
                                    <div class="form-check form-check-structure">Structure</div>
                                </td>
                            {% endif %}
                        {% endfor %}
                        <td data-title="Nom :">{{ user.name }}</td>
                        <td data-title="Email :">{{ user.email }}</td>
                        
                        
                        {# <td class="align-middle">
                            <a class="crud-button link-primary fa fa-pen-square mx-2" aria-label="Editer" href="{{ path('app_user_edit', {'id': user.id}) }}"></a>
                            <a class="crud-button link-success fa fa-eye mx-2" href="{{ path('app_user_show', {'id': user.id}) }}"></a>
                            <a class="crud-button link-danger fa fa-trash mx-2 confirm-action" href="{{ path('app_user_delete', {'id': user.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?')"></a>
                        </td> #}
                    </tr>
                    
                {% endfor %}